html,
body {
  height: 100%;
}

body {
  font-family: "Caveat Brush", cursive;
  margin: 0;
  min-height: 100vh;

  background-color: #3b2c61;
}

a {
  color: #885df1;
}

#main_header {
  margin-top: 40px;
  text-align: center;
  color: rgb(243, 229, 243);
  font-family: "Caveat Brush", cursive;
  font-size: 50px;
}

.weather_app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  margin-top: 10px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search_input {
  background-color: #f2f0f5;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  margin-left: 25px;
  padding: 15px;
  width: 75%;
  border-radius: 6px;
}

.search_button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 15px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current_temperature {
  font-size: 48px;
}

.current_weather {
  display: flex;
  justify-content: space-between;
}

.current_city {
  font-size: 45px;
  font-weight: 900;
  margin-left: 25px;
  margin-bottom: 7px;
  margin-top: 0;
  text-align: left;
}

.current_details {
  color: rgba(61, 3, 132, 0.4);
  font-size: 22px;
  font-weight: 520;
  line-height: 1.2;
  margin-left: 25px;
  margin-top: 0;
}

.current_details strong {
  color: #f65282;
  font-size: 24px;
}

.current_temp_icon {
  margin-right: 7px;
  position: relative;
  top: -8px;
  width: 75px;
  height: auto;
}

.current_temp_value {
  font-size: 80px;
  font-weight: bold;
}

.current_temp_unit {
  font-size: 28px;
  margin-right: 14px;
  position: relative;
  top: -38px;
}

footer {
  border-top: 1px solid #d4d2d7;
  color: rgba(39, 33, 66, 0.4);
  font-family: "Reboto", sans-serif;
  font-size: 12px;

  text-align: center;
  padding-top: 15px;
}
